{% extends 'base.html.twig' %}
{% block body %}
    <main role="main" class="container">
        <h1 class="mt-5">
            {{ author.fName }} {{ author.lName }}

            {% if btnSubscribe is not empty %}
                <a class="btn btn-outline-danger" href="{{ btnSubscribe.path }}">{{ btnSubscribe.title }}</a>
            {% endif %}
        </h1>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                {% for item in paginator.results %}
                    {% include 'news/_item.html.twig' with {'item': item} %}
                {% else %}
                    Автор не опубликовали ни одной новости
                {% endfor %}
                {% include 'bootstrap4.pagination.html.twig' with {'rout': 'adm_news', 'paginator': paginator} %}
            </div>
        </div>
    </main>
{% endblock %}